<div fxLayout="column" fxLayoutAlign="center center">
  <div class="main-content">
    <!-- Header -->
    <mat-accordion>
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" showToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="card-title">
            <h2>Prescriber description</h2>
          </mat-panel-title>
          <mat-panel-description class="card-description">
            Details of this prescriber practice
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>