[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=heng
Group=www-data
WorkingDirectory=/home/heng
ExecStart=/home/heng/.venv/bin/gunicorn \
	--access-logfile - \
	--workers 3 \
	--bind unix:/run/gunicorn.sock \
	basic.wsgi:application

[Install]
WantedBy=multi-user.target
