<!-- [disabled]="dispenserForm.pristine || dispenserForm.invalid" -->
<form [formGroup]="dispenserForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="card-header-text" >Click on each section below to open its survey panel.
      <br>Please enter or revise data as needed.
      <br>Save data when ready, or revert to continue with existing data.
      <br>You may return to this page as often as you wish.
    </div>
    <div style="margin-bottom: 1em">
      <button type="submit" [disabled]="dispenserForm.pristine || dispenserForm.invalid"class="btn btn-success">Save</button>
      &nbsp;
      <button type="button" (click)="revert()" [disabled]="dispenserForm.pristine" class="btn btn-danger">Revert</button>
    </div>
    <div class="main-content">
      <mat-accordion>
        <!--  -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title fxFlex="initial">Dispenser description</mat-panel-title>
            <mat-panel-description>Please confirm details of this dispensary</mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutAlign="center center">
            <div formGroupName="description" fxLayout="column">
              <mat-form-field class="input-text">
                <input matInput placeholder="Dispensary Name" formControlName="participant_name" />
              </mat-form-field>
              <mat-form-field class="input-text">
                <input matInput placeholder="Street" formControlName="street" />
              </mat-form-field>
              <mat-form-field class="input-text">
                <input matInput placeholder="City" formControlName="city" />
              </mat-form-field>
              <mat-form-field class="input-text">
                <input matInput placeholder="Province" formControlName="province" />
              </mat-form-field>
              <mat-form-field class="input-text">
                <input matInput placeholder="Pharmacy mgt system" formControlName="pharmacy_mgt_system">
              </mat-form-field>
            </div>
            <div formGroupName="numbers" fxLayout="column">
              <mat-form-field class="input-text">
                <input matInput id="num_pharm" placeholder="Number of pharmacists" formControlName="num_pharmacists"
                  required>
              </mat-form-field>
              <mat-form-field class="input-text">
                <input matInput placeholder="Number of registered techs" formControlName="num_reg_tech">
              </mat-form-field>
              <mat-form-field class="input-text">
                <input matInput placeholder="Number of assistants" formControlName="num_unreg">
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
        <!-- Statistics -->
        <mat-expansion-panel>
          <!--mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" showToggle> -->
          <mat-expansion-panel-header>
            <mat-panel-title class="card-title">
              Dispenser statistics
            </mat-panel-title>
            <mat-panel-description class="card-description">
              <p>Summary statistics</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- <div fxLayout="column" max-width="100%" fxLayoutAlign="center center" class="container-content"> -->
          <div class="card-header-text" fxLayout="center center">This data helps identify patterns
            in the overall process of delivering prescriptions. It begins with the various ways in which prescriptions
            arrive at the dispensary.
            <br> It would help to distinguish the patterns based on reports generated by the pharmacy
            management system, and ideally by time of day. However, in the absence of that data, estimates will be
            helpful.
          </div>
          <div formGroupName="total_rx">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Total prescriptions received - all patients</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Morning" formControlName="num_am" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Afternoon" formControlName="num_pm" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Evening" formControlName="num_evng" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Weekend" formControlName="num_wend" />
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="walkin_rx">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Walk-in patients with printed prescriptions</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Morning" formControlName="num_am" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Afternoon" formControlName="num_pm" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Evening" formControlName="num_evng" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Weekend" formControlName="num_wend" />
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="faxed_rx">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Prescriptions arriving by fax from prescriber</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Morning" formControlName="num_am" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Afternoon" formControlName="num_pm" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Evening" formControlName="num_evng" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Weekend" formControlName="num_wend" />
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="phoned_rx">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Prescriptions phoned in by prescriber</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Morning" formControlName="num_am" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Afternoon" formControlName="num_pm" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Evening" formControlName="num_evng" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Weekend" formControlName="num_wend" />
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="e_prescribe_rx">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Prescriptions phoned in by prescriber</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Morning" formControlName="num_am" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Afternoon" formControlName="num_pm" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Evening" formControlName="num_evng" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Weekend" formControlName="num_wend" />
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="new_patients">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Patients seen for the first time at this dispensary</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Morning" formControlName="num_am" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Afternoon" formControlName="num_pm" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Evening" formControlName="num_evng" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Weekend" formControlName="num_wend" />
              </mat-form-field>
            </div>
          </div>
          <!-- <div fxLayout="row" class="form-group">
            <mat-form-field class="text-full-width">
              <textarea placeholder="Time in minutes" formControlName="stats_notes">Average time to dispense one item</textarea>
            </mat-form-field>
          </div> -->
        </mat-expansion-panel>
        <mat-expansion-panel>
          <!--mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" showToggle> -->
          <mat-expansion-panel-header>
            <mat-panel-title class="card-title">
              Initiating the dispensing process
            </mat-panel-title>
            <mat-panel-description class="card-description">
              <p>How is process initiated?</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="card-header-text" fxLayout="center center">Once a prescription is received in the dispensary,
            how long does it take to input the data in the phramacy management system?
            <br>Please provide data in minutes.
          </div>
          <div formGroupName="rx_process">
            <div fxLayout="row" class="form-group">
              <div class="input-description">how long does it take (in minutes) to initiate a prescription?</div>
              <mat-form-field class="input-number-extra">
                <input matInput placeholder="New patient" formControlName="num_new_pt" />
              </mat-form-field>
              <mat-form-field class="input-number-extra">
                <input matInput placeholder="New Rx, returning pt." formControlName="num_new_rx" />
              </mat-form-field>
              <mat-form-field class="input-number-extra">
                <input matInput placeholder="Repeat prescription" formControlName="num_rpt_rx" />
              </mat-form-field>
            </div>
            <div fxLayout="row" class="form-group">
              <div class="input-description">Who usually initiates the dispensing process?</div>
              <mat-checkbox class="input-check" formControlName="pharm_ip">Pharmacist</mat-checkbox>
              <mat-checkbox class="input-check" formControlName="reg_ip">Pharmacy tech</mat-checkbox>
              <mat-checkbox class="input-check" formControlName="unreg_ip">Assistant</mat-checkbox>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="card-title">
              Formal prescription review
            </mat-panel-title>
            <mat-panel-description class="card-description">
              <p>How is this step implmented?</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="card-header-text" fxLayout="center center">A discussion with the patient
            can be an important step in filling a prescription. Sometimes this review takes place at the beginning of
            the process, and frequently at the end, when the medications are handed to the patient.
            <br>How often do each of these occur?
          </div>
          <div formGroupName="review_new_pt">
            <div fxLayout="row" class="form-group">
              <div class="input-description-sm">New patient</div>
              <mat-form-field class="input-number-extra">
                <input matInput placeholder="% filling" formControlName="before_rx" />
              </mat-form-field>
              <mat-form-field class="input-number-extra">
                <input matInput placeholder="% on completion" formControlName="after_rx" />
              </mat-form-field>
              <mat-form-field class="input-role">
                <select matNativeControl required>
                  <option value="PH">Pharmacist</option>
                  <option value="PT">Registered technician</option>
                  <option value="AS">Assistant</option>
                </select>
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="review_new_rx">
            <div fxLayout="row" class="form-group">
              <div class="input-description-sm">New prescription</div>
              <mat-form-field class="input-number-extra">
                <input matInput placeholder="% filling" formControlName="before_rx" />
              </mat-form-field>
              <mat-form-field class="input-number-extra">
                <input matInput placeholder="% on completion" formControlName="after_rx" />
              </mat-form-field>
              <mat-form-field class="input-role">
                <select matNativeControl required>
                  <option value="PH">Pharmacist</option>
                  <option value="PT">Registered technician</option>
                  <option value="AS">Assistant</option>
                </select>
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="review_rpt_rx">
            <div fxLayout="row" class="form-group">
              <div class="input-description-sm">Repeat prescription</div>
              <mat-form-field class="input-number-extra">
                <input matInput placeholder="% filling" formControlName="before_rx" />
              </mat-form-field>
              <mat-form-field class="input-number-extra">
                <input matInput placeholder="% on completion" formControlName="after_rx" />
              </mat-form-field>
              <mat-form-field class="input-role">
                <select matNativeControl required>
                  <option value="PH">Pharmacist</option>
                  <option value="PT">Registered technician</option>
                  <option value="AS">Assistant</option>
                </select>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" class="form-group">
            <mat-form-field class="text-full-width">
              <textarea matInput placeholder="Additional comments" formControlName="review_notes">Additional notes</textarea>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="card-title">
              Communication with prescriber
            </mat-panel-title>
            <mat-panel-description class="card-description">
              <p>For clarification and consultation.</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="card-header-text" fxLayout="center center">During the review process,
            the pharmacist may need clarification of a prescription, and will contact the prescriber.
            (Pharmacists are authorized to make certain changes and advise prescriber.)
            <br>What are the main reasons for seeking clarification?
            <br>How do communications occur?
            <br>How long do they take?
          </div>
          <div formGroupName="comm_illegible">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Illegible text</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily duration" formControlName="daily_duration" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Frequency" formControlName="daily_freq" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Elapsed time" formControlName="daily_elapsed" />
              </mat-form-field>
              <div fxLayout="column" fxLayoutAlign="start start">
                <mat-checkbox class="input-check" formControlName="by_fax">fax</mat-checkbox>
                <mat-checkbox class="input-check" formControlName="by_phone">phone</mat-checkbox>
                <mat-checkbox class="input-check" formControlName="by_dm">e-message</mat-checkbox>
              </div>
            </div>
          </div>
          <div formGroupName="comm_incomplete">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Incomplete information</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily duration" formControlName="daily_duration" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Frequency" formControlName="daily_freq" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Elapsed time" formControlName="daily_elapsed" />
              </mat-form-field>
              <div fxLayout="column" fxLayoutAlign="start start">
                <mat-checkbox class="input-check" formControlName="by_fax">fax</mat-checkbox>
                <mat-checkbox class="input-check" formControlName="by_phone">phone</mat-checkbox>
                <mat-checkbox class="input-check" formControlName="by_dm">e-message</mat-checkbox>
              </div>
            </div>
          </div>
          <div formGroupName="comm_dose">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Clarification question</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily duration" formControlName="daily_duration" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Frequency" formControlName="daily_freq" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Elapsed time" formControlName="daily_elapsed" />
              </mat-form-field>
              <div fxLayout="column" fxLayoutAlign="start start">
                <mat-checkbox class="input-check" formControlName="by_fax">fax</mat-checkbox>
                <mat-checkbox class="input-check" formControlName="by_phone">phone</mat-checkbox>
                <mat-checkbox class="input-check" formControlName="by_dm">e-message</mat-checkbox>
              </div>
            </div>
          </div>
          <div formGroupName="comm_advise">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Advice of change by pharmacist</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily duration" formControlName="daily_duration" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Frequency" formControlName="daily_freq" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Elapsed time" formControlName="daily_elapsed" />
              </mat-form-field>
              <div fxLayout="column" fxLayoutAlign="start start">
                <mat-checkbox class="input-check" formControlName="by_fax">fax</mat-checkbox>
                <mat-checkbox class="input-check" formControlName="by_phone">phone</mat-checkbox>
                <mat-checkbox class="input-check" formControlName="by_dm">e-message</mat-checkbox>
              </div>
            </div>
          </div>
          <div formGroupName="comm_renewal">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Authorize renewal</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily duration" formControlName="daily_duration" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Frequency" formControlName="daily_freq" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Elapsed time" formControlName="daily_elapsed" />
              </mat-form-field>
              <div fxLayout="column" fxLayoutAlign="start start">
                <mat-checkbox class="input-check" formControlName="by_fax">fax</mat-checkbox>
                <mat-checkbox class="input-check" formControlName="by_phone">phone</mat-checkbox>
                <mat-checkbox class="input-check" formControlName="by_dm">e-message</mat-checkbox>
              </div>
            </div>
          </div>
          <div formGroupName="comm_cancel">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Cancel prescription</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily duration" formControlName="daily_duration" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Frequency" formControlName="daily_freq" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Elapsed time" formControlName="daily_elapsed" />
              </mat-form-field>
              <div fxLayout="column" fxLayoutAlign="start start">
                <mat-checkbox class="input-check" formControlName="by_fax">fax</mat-checkbox>
                <mat-checkbox class="input-check" formControlName="by_phone">phone</mat-checkbox>
                <mat-checkbox class="input-check" formControlName="by_dm">e-message</mat-checkbox>
              </div>
            </div>
          </div>
          <div formGroupName="comm_consult">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Consult with physician</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily duration" formControlName="daily_duration" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Frequency" formControlName="daily_freq" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Elapsed time" formControlName="daily_elapsed" />
              </mat-form-field>
              <div fxLayout="column" fxLayoutAlign="start start">
                <mat-checkbox class="input-check" formControlName="by_fax">fax</mat-checkbox>
                <mat-checkbox class="input-check" formControlName="by_phone">phone</mat-checkbox>
                <mat-checkbox class="input-check" formControlName="by_dm">e-message</mat-checkbox>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</form>