<!-- [disabled]="dispenserForm.pristine || dispenserForm.invalid" -->
<form [formGroup]="dispenserForm" (ngSubmit)="onSubmit()">
  <div style="margin-bottom: 1em">
    <button type="submit"  class="btn btn-success">Save</button>
    &nbsp;
    <button type="button" (click)="revert()" [disabled]="dispenserForm.pristine || dispenserForm.invalid" class="btn btn-danger">Revert</button>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="main-content">
      <mat-accordion>
        <!--  -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Dispenser description</mat-panel-title>
            <mat-panel-description>Please confirm details of this dispensary</mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutAlign="center center">
            <div formGroupName="description" fxLayout="column">
              <mat-form-field class="input-text">
                <input matInput placeholder="Dispensary Name" formControlName="participant_name" />
              </mat-form-field>
              <mat-form-field class="input-text">
                <input matInput placeholder="Street" formControlName="street" />
              </mat-form-field>
              <mat-form-field class="input-text">
                <input matInput placeholder="City" formControlName="city" />
              </mat-form-field>
              <mat-form-field class="input-text">
                <input matInput placeholder="Province" formControlName="province" />
              </mat-form-field>
              <mat-form-field class="input-text">
                <input matInput placeholder="Pharmacy mgt system" formControlName="pharmacy_mgt_system">
              </mat-form-field>
            </div>
            <div formGroupName="numbers" fxLayout="column">
              <mat-form-field class="input-text">
                <input matInput id="num_pharm" placeholder="Number of pharmacists" formControlName="num_pharmacists"
                  required>
              </mat-form-field>
              <mat-form-field class="input-text">
                <input matInput placeholder="Number of registered techs" formControlName="num_reg_tech">
              </mat-form-field>
              <mat-form-field class="input-text">
                <input matInput placeholder="Number of assistants" formControlName="num_unreg">
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
        <!-- Statistics -->
        <mat-expansion-panel>
          <!--mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" showToggle> -->
          <mat-expansion-panel-header>
            <mat-panel-title class="card-title">
              Dispenser statistics
            </mat-panel-title>
            <mat-panel-description class="card-description">
              <p>Summary statistics</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- <div fxLayout="column" max-width="100%" fxLayoutAlign="center center" class="container-content"> -->
          <div class="card-header-text">How many prescriptions do you receive?
          </div>
          <div formGroupName="total_rx">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Total prescriptions received</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Morning" formControlName="num_am" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Afternoon" formControlName="num_pm" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Evening" formControlName="num_evng" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Weekend" formControlName="num_wend" />
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="walkin_rx">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Walk-in patients with printed prescriptions</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Morning" formControlName="num_am" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Afternoon" formControlName="num_pm" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Evening" formControlName="num_evng" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Weekend" formControlName="num_wend" />
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="faxed_rx">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Prescriptions arriving by fax from prescriber</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Morning" formControlName="num_am" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Afternoon" formControlName="num_pm" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Evening" formControlName="num_evng" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Weekend" formControlName="num_wend" />
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="phoned_rx">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Prescriptions phoned in by prescriber</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Morning" formControlName="num_am" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Afternoon" formControlName="num_pm" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Evening" formControlName="num_evng" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Weekend" formControlName="num_wend" />
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="e_prescribe_rx">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Prescriptions phoned in by prescriber</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Morning" formControlName="num_am" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Afternoon" formControlName="num_pm" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Evening" formControlName="num_evng" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Weekend" formControlName="num_wend" />
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="new_patients">
            <div fxLayout="row" class="form-group">
              <div class="input-description">New patients at this dispenser</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Morning" formControlName="num_am" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Afternoon" formControlName="num_pm" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Evening" formControlName="num_evng" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Weekend" formControlName="num_wend" />
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <!--mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" showToggle> -->
          <mat-expansion-panel-header>
            <mat-panel-title class="card-title">
              Initiating the dispensing process
            </mat-panel-title>
            <mat-panel-description class="card-description">
              <p>How is process initiated?</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div formGroupName="rx_process">
            <div fxLayout="row" class="form-group">
              <div class="input-description">how long does it take (in minutes) to initiate a prescription?</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="New patient" formControlName="new_patient_time" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="New Rx, returning patient" formControlName="new_rx_time" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Repeat prexcription" formControlName="repeat_rx_time" />
              </mat-form-field>
              <mat-checkbox class="input-check" formControlName="pharmacist">Pharmacist</mat-checkbox>
              <mat-checkbox class="input-check" formControlName="reg_tech">Pharmacy tech</mat-checkbox>
              <mat-checkbox class="input-check" formControlName="unreg">Unregistered assistant</mat-checkbox>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="card-title">
              Formal prescription review
            </mat-panel-title>
            <mat-panel-description class="card-description">
              <p>how often does each of these steps occur?</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div formGroupName="rx_process">
            <div fxLayout="row" class="form-group">
              <div class="input-description">how long does it take (in minutes) to initiate a prescription?</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="New patient" formControlName="new_patient_time" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="New Rx, returning patient" formControlName="new_rx_time" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Repeat prexcription" formControlName="repeat_rx_time" />
              </mat-form-field>
              <div class="input-description">Who usually initiates the dispensing process?</div>
              <mat-checkbox class="input-check" formControlName="pharmacist">Pharmacist</mat-checkbox>
              <mat-checkbox class="input-check" formControlName="reg_tech">Pharmacy tech</mat-checkbox>
              <mat-checkbox class="input-check" formControlName="unreg">Unregistered assistant</mat-checkbox>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="card-title">
              Communication with prescriber
            </mat-panel-title>
            <mat-panel-description class="card-description">
              <p>During the review process, the pharmacist may need clafrifation of the prescription, and will contact
                the prescriber.</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div formGroupName="comm_illegible">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Illegible text</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily duration" formControlName="duration" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily frequency" formControlName="frequency" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Elapsed time" formControlName="elapsed_time" />
              </mat-form-field>
              <mat-checkbox class="input-check-sm" formControlName="by_fax">fax</mat-checkbox>
              <mat-checkbox class="input-check-sm" formControlName="by_phone">phone</mat-checkbox>
              <mat-checkbox class="input-check-sm" formControlName="by_dm">e-message</mat-checkbox>
            </div>
          </div>
          <div formGroupName="comm_incomplete">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Illegible text</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily duration" formControlName="duration" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily frequency" formControlName="frequency" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Elapsed time" formControlName="elapsed_time" />
              </mat-form-field>
              <mat-checkbox class="input-check-sm" formControlName="by_fax">fax</mat-checkbox>
              <mat-checkbox class="input-check-sm" formControlName="by_phone">phone</mat-checkbox>
              <mat-checkbox class="input-check-sm" formControlName="by_dm">e-message</mat-checkbox>
            </div>
          </div>
          <div formGroupName="comm_dose">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Incomplete information</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily duration" formControlName="duration" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily frequency" formControlName="frequency" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Elapsed time" formControlName="elapsed_time" />
              </mat-form-field>
              <mat-checkbox class="input-check-sm" formControlName="by_fax">fax</mat-checkbox>
              <mat-checkbox class="input-check-sm" formControlName="by_phone">phone</mat-checkbox>
              <mat-checkbox class="input-check-sm" formControlName="by_dm">e-message</mat-checkbox>
            </div>
          </div>
          <div formGroupName="comm_advise">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Clarification question</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily duration" formControlName="duration" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily frequency" formControlName="frequency" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Elapsed time" formControlName="elapsed_time" />
              </mat-form-field>
              <mat-checkbox class="input-check-sm" formControlName="by_fax">fax</mat-checkbox>
              <mat-checkbox class="input-check-sm" formControlName="by_phone">phone</mat-checkbox>
              <mat-checkbox class="input-check-sm" formControlName="by_dm">e-message</mat-checkbox>
            </div>
          </div>
          <div formGroupName="comm_renewal">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Advice of change</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily duration" formControlName="duration" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily frequency" formControlName="frequency" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Elapsed time" formControlName="elapsed_time" />
              </mat-form-field>
              <mat-checkbox class="input-check-sm" formControlName="by_fax">fax</mat-checkbox>
              <mat-checkbox class="input-check-sm" formControlName="by_phone">phone</mat-checkbox>
              <mat-checkbox class="input-check-sm" formControlName="by_dm">e-message</mat-checkbox>
            </div>
          </div>
          <div formGroupName="comm_cancel">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Authorize renewal</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily duration" formControlName="duration" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily frequency" formControlName="frequency" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Elapsed time" formControlName="elapsed_time" />
              </mat-form-field>
              <mat-checkbox class="input-check-sm" formControlName="by_fax">fax</mat-checkbox>
              <mat-checkbox class="input-check-sm" formControlName="by_phone">phone</mat-checkbox>
              <mat-checkbox class="input-check-sm" formControlName="by_dm">e-message</mat-checkbox>
            </div>
          </div>
          <div formGroupName="comm_consult">
            <div fxLayout="row" class="form-group">
              <div class="input-description">Cancel prescription</div>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily duration" formControlName="duration" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Daily frequency" formControlName="frequency" />
              </mat-form-field>
              <mat-form-field class="input-number">
                <input matInput placeholder="Elapsed time" formControlName="elapsed_time" />
              </mat-form-field>
              <mat-checkbox class="input-check-sm" formControlName="by_fax">fax</mat-checkbox>
              <mat-checkbox class="input-check-sm" formControlName="by_phone">phone</mat-checkbox>
              <mat-checkbox class="input-check-sm" formControlName="by_dm">e-message</mat-checkbox>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</form>