<!-- [disabled]="prescriberForm.pristine || prescriberForm.invalid"  -->
<form [formGroup]="prescriberForm" (ngSubmit)="onSubmit()">
    <div style="margin-bottom: 1em">
        <button type="submit" class="btn btn-success">Save</button>
        &nbsp;
        <button type="button" (click)="revert()" [disabled]="prescriberForm.pristine || prescriberForm.invalid" class="btn btn-danger">Revert</button>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <div class="main-content">
            <mat-accordion>
                <!--Practice  -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Prescriber practice</mat-panel-title>
                        <mat-panel-description>Please confirm details of this practice</mat-panel-description>
                    </mat-expansion-panel-header>
                    <div formGroupName="description" fxLayout="row" fxLayoutAlign="center center">
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <mat-form-field class="input-text">
                                <input matInput placeholder="Name" formControlName="participant_name" />
                            </mat-form-field>
                            <mat-form-field class="input-text">
                                <input matInput placeholder="Street" formControlName="street" />
                            </mat-form-field>
                            <mat-form-field class="input-text">
                                <input matInput placeholder="City" formControlName="city" />
                            </mat-form-field>
                            <mat-form-field class="input-text">
                                <input matInput placeholder="Province" formControlName="province" />
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <mat-form-field class="input-role">
                                <select matNativeControl required>
                                    <option value="FH">FHT/FHN/FHO</option>
                                    <option value="GP">Group</option>
                                    <option value="SL">Solo</option>
                                </select>
                            </mat-form-field>
                            <mat-form-field class="input-text">
                                <input matInput placeholder="EMR system" formControlName="medical_record_system" />
                            </mat-form-field>
                            <mat-form-field class="input-text">
                                <input matInput placeholder="Number of physicians" formControlName="num_physicians">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-expansion-panel>
                <!-- Statistics-->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>What patterns do you see in patient visits?</mat-panel-title>
                        <mat-panel-description>Please provide actual or estimated statistics</mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="card-header-text" fxLayout="center center">How many patients do you see
                        in an average day? How many in an average week?
                        <br>Of these, how many have extended visits?
                        <br>How many are you following for ongoing conditions?
                    </div>
                    <div formGroupName="total_pts">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-pt">Total patient visits</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Daily" formControlName="num_daily">
                            </mat-form-field>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Weekly" formControlName="num_weekly">
                            </mat-form-field>
                        </div>
                    </div>
                    <div formGroupName="std_pts">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-tab">Standard patient visits (~ 15 mins)</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Daily" formControlName="num_daily">
                            </mat-form-field>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Weekly" formControlName="num_weekly">
                            </mat-form-field>
                        </div>
                    </div>
                    <div formGroupName="extend_pts">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-tab">Extended patient visits (&gt; 30 mins)</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Daily" formControlName="num_daily">
                            </mat-form-field>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Weekly" formControlName="num_weekly">
                            </mat-form-field>
                        </div>
                    </div>
                    <div formGroupName="ongoing_pts">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-tab">Proportion of patients with ongoing conditions</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Daily" formControlName="num_daily">
                            </mat-form-field>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Weekly" formControlName="num_weekly">
                            </mat-form-field>
                        </div>
                    </div>
                    <div formGroupName="total_rx">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-pt">Total prescriptions written</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Daily" formControlName="num_daily">
                            </mat-form-field>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Weekly" formControlName="num_weekly">
                            </mat-form-field>
                        </div>
                    </div>
                    <div formGroupName="new_rx">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-tab">New prescriptions</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Daily" formControlName="num_daily">
                            </mat-form-field>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Weekly" formControlName="num_weekly">
                            </mat-form-field>
                        </div>
                    </div>
                    <div formGroupName="renew_rx">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-tab">Prescriptions renewed</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Daily" formControlName="num_daily">
                            </mat-form-field>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Weekly" formControlName="num_weekly">
                            </mat-form-field>
                        </div>
                    </div>
                    <div formGroupName="auto_renew_rx">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-tab">Renewals authorized by fax</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Daily" formControlName="num_daily">
                            </mat-form-field>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Weekly" formControlName="num_weekly">
                            </mat-form-field>
                        </div>
                    </div>
                    <div formGroupName="poly_rx">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-tab">More than one drug on prescription</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Daily" formControlName="num_daily">
                            </mat-form-field>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Weekly" formControlName="num_weekly">
                            </mat-form-field>
                        </div>
                    </div>
                    <div formGroupName="clarify_msg">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-pt">Clarifications of existing prescription</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Daily" formControlName="num_daily">
                            </mat-form-field>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Weekly" formControlName="num_weekly">
                            </mat-form-field>
                        </div>
                    </div>
                    <div formGroupName="authorize_msg">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-pt">Requests to authorize previous prescription</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Daily" formControlName="num_daily">
                            </mat-form-field>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Weekly" formControlName="num_weekly">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-expansion-panel>
                <!-- Delivery -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            How are prescriptions provided to your patients?
                        </mat-panel-title>
                        <mat-panel-description>
                            Please provide actual or estimated statistics
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="card-header-text" fxLayout="center center">
                        There are several ways of providing the prescription to your patients for dispensing.
                        <br>What fraction of prescriptions are delivered in these ways?
                    </div>
                    <div formGroupName="printed_rx">
                        <div fxLayout="row" class="form-group">
                            <mat-checkbox class="input-check-vsm" formControlName="method_del"></mat-checkbox>
                            <div class="input-description-pt">Printed or hand-written prescription handed to patient</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Weekly" formControlName="fraction_del">
                            </mat-form-field>
                        </div>
                    </div>
                    <div formGroupName="faxed_rx">
                        <div fxLayout="row" class="form-group">
                            <mat-checkbox class="input-check-vsm" formControlName="method_del"></mat-checkbox>
                            <div class="input-description-pt">Prescription faxed to Dispensary</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Weekly" formControlName="fraction_del">
                            </mat-form-field>
                        </div>
                    </div>
                    <div formGroupName="phoned_rx">
                        <div fxLayout="row" class="form-group">
                            <mat-checkbox class="input-check-vsm" formControlName="method_del"></mat-checkbox>
                            <div class="input-description-pt">Prescription phoned to Dispensary</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Weekly" formControlName="fraction_del">
                            </mat-form-field>
                        </div>
                    </div>
                    <div formGroupName="e_prescribe_rx">
                        <div fxLayout="row" class="form-group">
                            <mat-checkbox class="input-check-vsm" formControlName="method_del"></mat-checkbox>
                            <div class="input-description-pt">Prescription sent through PrescribeIT</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Weekly" formControlName="fraction_del">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-expansion-panel>

                <!-- Management -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Prescription management
                        </mat-panel-title>
                        <mat-panel-description>
                            Who looks after communications with dispensaries?
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="card-header-text" fxLayout="center center">
                            Messages regarding prescriptions are regularly exchanged with pharmacies, 
                            usually by fax, and occasionally by phone. 
                            <br>How often are these messages managed and by whom, both incoming and outgoing?
                        </div>
                        <div formGroupName="receive_msg">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description">Receive and process messages from dispensary</div>
                            <mat-form-field class="input-role">
                                <select matNativeControl formControlName="comm_role" required>
                                    <option value="MD">Physician</option>
                                    <option value="RN">Nurse</option>
                                    <option value="AS">Assistant</option>
                                    <option value="AD">Office admin</option>
                                </select>
                            </mat-form-field>
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <mat-form-field class="input-number">
                                    <input matInput placeholder="Frequency" formControlName="daily_freq">
                                </mat-form-field>
                                <mat-form-field class="input-number">
                                    <input matInput placeholder="Daily total" formControlName="daily_rx_messages">
                                </mat-form-field>
                                <mat-form-field class="input-number">
                                    <input matInput placeholder="Number" formControlName="pc_urgent_messages">
                                </mat-form-field>
                                <mat-form-field class="input-number">
                                    <input matInput placeholder="Elapsed time" formControlName="total_time_messages">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div formGroupName="process_msg">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description">Process messages authorized by physician</div>
                            <mat-form-field class="input-role">
                                <select matNativeControl formControlName="comm_role" required>
                                    <option value="MD">Physician</option>
                                    <option value="RN">Nurse</option>
                                    <option value="AS">Assistant</option>
                                    <option value="AD">Office admin</option>
                                </select>
                            </mat-form-field>
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <mat-form-field class="input-number">
                                    <input matInput placeholder="Daily frequency" formControlName="daily_freq">
                                </mat-form-field>
                                <mat-form-field class="input-number">
                                    <input matInput placeholder="Daily total" formControlName="daily_rx_messages">
                                </mat-form-field>
                                <mat-form-field class="input-number">
                                    <input matInput placeholder="Daily number" formControlName="pc_urgent_messages">
                                </mat-form-field>
                                <mat-form-field class="input-number">
                                    <input matInput placeholder="Total time" formControlName="total_time_messages">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <!-- Preparation -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Prescription preparation
                        </mat-panel-title>
                        <mat-panel-description>
                            Please estimate frequency, duration and methods used.
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="card-header-text" fxLayout="center center">
                            As you consider which medications to prescribe, 
                            how often do you consult these sources?
                            <br>Where do you find the information you need? (Please check all that apply)
                        </div>
                    <div formGroupName="pat_hx">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-pt">Review patient's medication history</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="% of Rx" formControlName="dx_freq">
                            </mat-form-field>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Duration" formControlName="dx_duration">
                            </mat-form-field>
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <mat-checkbox class="input-check" formControlName="within_emr">Within EMR</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="linked_to_emr">Linked to EMR</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="desktop">Desktop app</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="mobile_app">Mobile app</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div formGroupName="cds">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-pt">Use clinical decision support</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="% of Rx" formControlName="dx_freq">
                            </mat-form-field>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Duration" formControlName="dx_duration">
                            </mat-form-field>
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <mat-checkbox class="input-check" formControlName="within_emr">Within EMR</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="linked_to_emr">Linked to EMR</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="desktop">Desktop app</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="mobile_app">Mobile app</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div formGroupName="p_formulary">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-pt">Refer to provincial drug formulary</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="% of Rx" formControlName="dx_freq">
                            </mat-form-field>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Duration" formControlName="dx_duration">
                            </mat-form-field>
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <mat-checkbox class="input-check" formControlName="within_emr">Within EMR</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="linked_to_emr">Linked to EMR</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="desktop">Desktop app</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="mobile_app">Mobile app</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div formGroupName="p_dis">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-pt">Refer to provincial drug information system</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="% of Rx" formControlName="dx_freq">
                            </mat-form-field>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Duration" formControlName="dx_duration">
                            </mat-form-field>
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <mat-checkbox class="input-check" formControlName="within_emr">Within EMR</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="linked_to_emr">Linked to EMR</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="desktop">Desktop app</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="mobile_app">Mobile app</mat-checkbox>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <!-- Prescription specification -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What processes and systems do you use in specifying the prescription?
                        </mat-panel-title>
                        <mat-panel-description>
                            Please estimate duration and methods used.
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="card-header-text" fxLayout="center center">
                            When you prepare the actual prescription for your patient, 
                            you provide details to guide the pharmacist in preparing the mdeications.
                            <br>How do you specify those details of a prescription?
                        </div>
                    <div formGroupName="drug_name">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-sm">Drug name</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Duration" formControlName="spec_duration">
                            </mat-form-field>
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <mat-checkbox class="input-check" formControlName="by_hand">Hand written</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="free_text">Free text</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="drop_down">Drop-down menu</mat-checkbox>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <mat-checkbox class="input-check" formControlName="check_box">Check boxes</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="search">Search on name</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div formGroupName="dosage">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-sm">Dosage</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Duration" formControlName="spec_duration">
                            </mat-form-field>
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <mat-checkbox class="input-check" formControlName="by_hand">Hand written</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="free_text">Free text</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="drop_down">Drop-down menu</mat-checkbox>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <mat-checkbox class="input-check" formControlName="check_box">Check boxes</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="search">Search on name</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div formGroupName="refills">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-sm">Refills</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Duration" formControlName="spec_duration">
                            </mat-form-field>

                            <div fxLayout="column" fxLayoutAlign="start start">
                                <mat-checkbox class="input-check" formControlName="by_hand">Hand written</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="free_text">Free text</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="drop_down">Drop-down menu</mat-checkbox>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <mat-checkbox class="input-check" formControlName="check_box">Check boxes</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="search">Search on name</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div formGroupName="route">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-sm">Route</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Duration" formControlName="spec_duration">
                            </mat-form-field>
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <mat-checkbox class="input-check" formControlName="by_hand">Hand written</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="free_text">Free text</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="drop_down">Drop-down menu</mat-checkbox>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <mat-checkbox class="input-check" formControlName="check_box">Check boxes</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="search">Search on name</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div formGroupName="instructions">
                        <div fxLayout="row" class="form-group">
                            <div class="input-description-sm">Instructions</div>
                            <mat-form-field class="input-number">
                                <input matInput placeholder="Duration" formControlName="spec_duration">
                            </mat-form-field>
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <mat-checkbox class="input-check" formControlName="by_hand">Hand written</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="free_text">Free text</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="drop_down">Drop-down menu</mat-checkbox>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <mat-checkbox class="input-check" formControlName="check_box">Check boxes</mat-checkbox>
                                <mat-checkbox class="input-check" formControlName="search">Search on name</mat-checkbox>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</form>